{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'general/vendors/owl-carousel-2/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block 'content' %}
{% for categoria in categorias %}
<p class="titulo-categoria">{{ categoria.nome }}</p>
<div class="livros-categoria">
  <div class="livros">
    {% for livro in livros%}
    <div class="col-md-6 col-xl-4 grid-margin stretch-card" onclick="vender_livro(livro.id)">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{livro.titulo}}</h4>
          <div class="item">
            <img class="imagem-livro"src="{{ livro.imagem.imagem.url }}" draggable="false" alt="">
          </div>
          <div class="d-flex py-4">
            <div class="preview-list w-100">
              <div class="preview-item p-0">
                <div class="preview-thumbnail">
                  <img src="{% static 'general/img/faces/face12.jpg' %}" class="rounded-circle" alt="">
                </div>
                <div class="preview-item-content d-flex flex-grow">
                  <div class="flex-grow">
                    <div class="d-flex d-md-block d-xl-flex justify-content-between">
                      <h6 class="preview-subject">CeeCee Bass</h6>
                      <p class="text-muted text-small">4 Hours Ago</p>
                    </div>
                    <p class="text-muted">Well, it seems to be working now.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock %}


{% block 'script' %}
<script src="{% static 'general/js/dashboard.js' %}"></script>
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}